.Liyue {
    text-align: center;
    position: relative;
    height: 2500px;
}

.LiyueHeader {
    margin-top: 100px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative; /* Ensure the container is positioned */
    z-index: 1; /* Set a higher z-index value for the text */
  }
.LiyueHeader h1 {
    margin-bottom: 20px;
    color: brown; /* Red color for h1 */
}