body {
  margin: 0; /* Resetting the default margin */
}

.NavBar {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  top: 0;
  background-image: url("../..//images/scene.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Adding round edges */
  padding: 30px 0;
  border: 2px solid white; /* Adding a white outline */
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}
