body {
  margin: 0; /* Resetting the default margin */
}

.NavBar {
  position: fixed;
  width: 100%;
  text-align: center;
  color: white;
  top: 0;
  background-image: url("../..//images/scene.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px; /* Adding round edges */
  padding: 30px 0;
  border: 2px solid white; /* Adding a white outline */
}

.container {
  margin: 0 auto;
  padding: 0 20px;
}

// NavBar.module.scss

.button {
  background-color: #007bff; /* Blue background color */
  color: #fff; /* White text color */
  border: 2px solid black; /* Black border */
  padding: 10px 20px; /* Padding */
  font-size: 16px; /* Font size */
  cursor: pointer; /* Cursor style */
  text-decoration: none;
  border-radius: 5px; /* Border radius */
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin: 0 5px; /* Add slight separation to the sides */
}

.button:hover {
  background-color: #0056b3; /* Darker blue color on hover */
}
.link {
  text-decoration: none;
}
