.App {
  text-align: center;
  position: relative; /* Ensure the container is positioned */
}

.AppHeader {
  background-color: rgba(
    14,
    212,
    77,
    0.219
  ); /* Semi-transparent background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Ensure the container is positioned */
  z-index: 1; /* Set a higher z-index value for the text */
}

.AppHeader h1 {
  margin-bottom: 20px;
  color: #66830d; /* Red color for h1 */
}

.AppHeader p {
  margin-bottom: 10px;
  color: #00ff00; /* Green color for paragraphs */
}
