.App {
  text-align: center;
  position: relative; /* Ensure the container is positioned */
}

.AppHeader {
  background-color: rgba(
    14,
    212,
    77,
    0.219
  ); /* Semi-transparent background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: relative; /* Ensure the container is positioned */
  z-index: 1; /* Set a higher z-index value for the text */
}

.AppHeader h1 {
  margin-bottom: 20px;
  color: #66830d; /* Red color for h1 */
}

.AppHeader p {
  margin-bottom: 10px;
  color: #00ff00; /* Green color for paragraphs */
}

/* src/App.css or any other CSS file */

.show-scary-image::after {
  content: ""; /* Create a pseudo-element */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./Images/scary.jpg"); /* Adjust the path to match the location of the image */
  background-size: cover;
  z-index: 9999; /* Set a high z-index to ensure it's on top */
  animation: fadeOut 4s ease-in-out; /* Apply fade-out animation with a duration of 4 seconds */
}

/* Define a fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1; /* Start with full opacity */
  }
  12.5% {
    opacity: 0.835; /* End with zero opacity */
  }
  25% {
    opacity: 0.75; /* End with zero opacity */
  }
  37.5% {
    opacity: 0.625; /* End with zero opacity */
  }
  50% {
    opacity: 0.5; /* End with zero opacity */
  }
  37.5% {
    opacity: 0.375; /* End with zero opacity */
  }
  75% {
    opacity: 0.25; /* End with zero opacity */
  }
  87.5% {
    opacity: 0.125; /* End with zero opacity */
  }
  100% {
    opacity: 0; /* End with zero opacity */
  }
}
