/* src/App.css or any other CSS file */

.Hutao {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../Images/scary.jpg"); /* Adjust the path to match the location of the image */
  background-size: cover;
  z-index: 9999; /* Set a high z-index to ensure it's on top */
  animation: fadeOut 4s ease-in-out; /* Apply fade-out animation with a duration of 4 seconds */

  &.Open {
    display: block;
  }
}

/* Define a fade-out animation */
@keyframes fadeOut {
  0% {
    opacity: 1; /* Start with full opacity */
  }
  12.5% {
    opacity: 0.835; /* End with zero opacity */
  }
  25% {
    opacity: 0.75; /* End with zero opacity */
  }
  37.5% {
    opacity: 0.625; /* End with zero opacity */
  }
  50% {
    opacity: 0.5; /* End with zero opacity */
  }
  37.5% {
    opacity: 0.375; /* End with zero opacity */
  }
  75% {
    opacity: 0.25; /* End with zero opacity */
  }
  87.5% {
    opacity: 0.125; /* End with zero opacity */
  }
  100% {
    opacity: 0; /* End with zero opacity */
  }
}
